@font-face {
  font-family: "PingFang-SC-Semibold";
  src: url("../fonts/PingFang-SC-Semibold/PingFang-SC-Semibold.woff") format("woff"),
       url("../fonts/PingFang-SC-Semibold/PingFang-SC-Semibold.ttf") format("truetype"),
       url("../fonts/PingFang-SC-Semibold/PingFang-SC-Semibold.eot") format("embedded-opentype"),
       url("../fonts/PingFang-SC-Semibold/PingFang-SC-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PingFang-SC-Medium";
  src: url("../fonts/PingFang-SC-Medium/PingFang-SC-Medium.woff") format("woff"),
       url("../fonts/PingFang-SC-Medium/PingFang-SC-Medium.ttf") format("truetype"),
       url("../fonts/PingFang-SC-Medium/PingFang-SC-Medium.eot") format("embedded-opentype"),
       url("../fonts/PingFang-SC-Medium/PingFang-SC-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body{
	margin: 0;
	padding: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	display: block;
}
.clearfix:after{
	  content: "";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden;
}