@import "./base.scss";
@import "./variables.scss";
@import "./transition.scss";
@import "./mixin.scss";
@import "./vant-root.scss";
@import "./vant-fix.scss";

#app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}
