.box {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 100%;
    height: 100vh;
}

#my_form {
    padding: 10px 20px;
    border: 1px solid #909090;
    border-radius: 5px;
}

#my_form > div {
    margin: 8px 0;
}

#my_form > div > label {
    float: left;
}

#my_form > div > input, #my_form > div > textarea {
    float: right;
}

.required {
    color: red;
}