html {
    font-size: 62.5%;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    overflow: hidden;
}

.div-bg {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    justify-content: center;
}

.div-bg > img {
    position: absolute;
}

.sc-content {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font: 1.4rem Arial, Helvetica, sans-serif;
    color: var(--font-color);
    overflow: hidden;
}

.sc-content-center {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    text-align: center;
}

.sc-content-title, .sc-content-main {
    padding: 20px;
}

.sc-content-title {
    font-size: 3.6rem;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow: 0 0 8px #93bdff, 0 0 42px #609eff;
    z-index: 100;
}

.sc-content-main {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.div-news {
    padding: 10px 30px 10px 10px;
    display: flex;
    align-items: center;
    height: 20px;
    overflow: hidden;
}

.div-wifi-symbol {
    position: relative;
    left: 0;
}

.wifi-symbol {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    overflow: hidden;
    transform: rotate(135deg) scale(0.6);
}

.wifi-circle {
    border: 5px solid #00d0ff;
    border-radius: 50%;
    position: absolute;
}

.wifi-circle.first {
    width: 5px;
    height: 5px;
    top: 45px;
    left: 45px;
}

.wifi-circle.second {
    width: 25px;
    height: 25px;
    top: 35px;
    left: 35px;
    animation: fadeInOut 1s infinite 0.2s;
}

.wifi-circle.third {
    width: 40px;
    height: 40px;
    top: 25px;
    left: 25px;
    animation: fadeInOut 1s infinite 0.4s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}

.div-news .div-news-content {
}

.news-content {
    padding-left: 40px;
}

.div-main {
    margin-top: 10px;
    padding: 20px;
    flex: 1;
}

.div-park {
    width: 100%;
    height: 100%;
}

.sc-content-left, .sc-content-right {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    z-index: 100;
}

.sc-content-left {
    padding: 20px 40px 20px 20px;
    background: url('../images/line_img.png') top right repeat-y;
}

.sc-content-right {
    padding: 20px 20px 20px 40px;
    background: url('../images/line_img.png') top left repeat-y;
}

.sc-content-left > div, .sc-content-right > div {
    margin-top: 20px;
    min-height: 100px;
}

.sc-content-left > div:first-child, .sc-content-right > div:first-child {
    margin-top: 0;
}

.div-logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.div-logo img {
}

.div-car-statistics {
    height: 300px;
}

.div-visitors {
    flex: 1;
}

.div-clock {
    padding: 20px 0 10px 0;
}

.div-split-line {
    margin: 0 20px;
    height: 1px;
    background: #169aefba;
    box-shadow: 0 0 12px #169aef;
}

.div-weather {
    filter: drop-shadow(0 0 2px #0e94ea);
}

.div-order-statistics {
    height: 250px;
}

.div-order-list {
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.order_list {
    margin-top: 10px;
    flex: 1;
    overflow: hidden;
}

.ol-order-list {
    line-height: 30px;
}

.ol-order-list li {
    margin-bottom: 10px;
}

.ol-order-list li a {
    text-decoration: none;
}

.ol-order-list li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ol-order-list li span.time {
    margin-left: 6px;
}