@charset "UTF-8";

@font-face {
  font-family: "PingFang-SC-Medium";
  src: url("PingFang-SC-Medium.woff") format("woff"),
       url("PingFang-SC-Medium.ttf") format("truetype"),
       url("PingFang-SC-Medium.eot") format("embedded-opentype"),
       url("PingFang-SC-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}